form {
  margin: auto;
}

section {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: larger;
}

.inputWrapper {
  position: relative;
}

.inputWrapper input {
  margin: auto;
  padding-right: 4em;
}

.togglePassword {
  position: absolute;
  right: 0.10em;
  cursor: pointer;
}

.hide {
  display: none;
}

.valid {
  color: white;
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}