.contentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  border: 3px solid #949494;
  border-radius: 10px;
  margin: auto;
  margin-top: 5%;
  max-width: 50%;
  background-color: #1f1b25;
}

.hide {
  display: none;
}

.errorMessage {
  color: red;
  background-color: orange;
  font-size: x-large;
}

.contentContainer Button {
  height: 50px;
  width: 150px;
  margin-bottom: 5%;
}