.sidebar {
  background-color: #1f1b25;
  min-height: 100%;
  min-width: 15rem;
  padding-top: 1rem;
  padding-left: 1rem;
}

.sidebar a {
  color: white;
  display: flex;
  align-items: center;
  text-decoration: none;
  justify-content: flex-start;
}

.sidebar .logo-container h4 {
  font-size: 1.5rem;
}

.sidebar .logo-container img {
  padding: 0;
  padding-right: 1rem;
  width: auto;
  height: 3rem;
}

.sidebar .sidebar-container {
  background-color: white;
  width: 35px;
  height: 35px;
  border-radius: 2rem;
  margin-top: 2rem;
  margin-left: 0.5rem;
  padding-bottom: 1rem;
  border-bottom: 3px solid white;
}

.sidebar .sidebar-container:after {
  content: "";
  display: block;
  position: absolute;
}

.sidebar .sidebar-container .sidebar-toggle {
  width: 35px;
  height: 35px;
  cursor: pointer;
  border-radius: 15px;
}

.sidebar .sidebar-container .sidebar-menu {
  background-color: black;
  content: "";
  position: relative;
  z-index: 1;
  width: 20px;
  height: 3px;
  border-radius: 2rem;
  bottom: calc(35px /2);
  left: 0.45rem;
}

.sidebar .sidebar-container .sidebar-menu::after {
  content: "";
  background-color: black;
  position: absolute;
  width: 20px;
  height: 3px;
  border-radius: 2rem;
  top: 0.45rem;
}

.sidebar .sidebar-container .sidebar-menu::before {
  content: "";
  background-color: black;
  position: absolute;
  width: 20px;
  height: 3px;
  border-radius: 2rem;
  top: -0.45rem;
}

.sidebar .content-container h4 {
  font-size: 1.25rem;
}

.sidebar .content-container ul {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.sidebar .content-container ul li {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;
  height: 64px;
}

.sidebar .content-container ul li.active {
  border-radius: 15px;
  border: solid white;
  border-width: 2px;
  padding-right: 1rem;
}

.sidebar .content-container ul li img {
  padding: 0;
  width: auto;
  height: 3rem;
  padding-right: 1rem;
}

.sidebar.hidden {
  min-width: 5rem;
}

.sidebar.hidden h4 {
  display: none;
}

.sidebar.hidden h1 {
  display: none;
}

.sidebar .content-container ul li.active-hidden {
  border-radius: 15px;
  border: solid white;
  border-width: 2px;
}

.sidebar .content-container ul li.active-hidden img {
  padding-right: 0;
}



h1.title.hidden {
  display: none;
}