body {
  background-color: #23272f;
  color: white;
  height: 100%;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

body a {
  display: inherit;
  align-items: inherit;
  color: white;
  font-size: x-large;
  text-decoration: none;
}