* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #23272f;
  color: white;
  width: 100%;
  min-height: 100vh;
}

.mainContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
}

.contentContainer {
  display: flex;
  flex-direction: column;
}